/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 header section
6.0 footer section
7.0 main section

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 general
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $col-negro;
    background-color: $col_fondo_blanco;
    font-size: 2.5vw;
    line-height: 2.5vh;
    letter-spacing: 1.5vw;
    height: 100%;
    @media (min-width: $sm) {
        font-size: 2.4vw;
    }
    @media (min-width: $md) {
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 5px;
    }
}

.line-deco {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media (min-width: $sm) {
        height: 90px;
    }
    
    span {
        display: block;
        background-color: $col-blanco;
        height: 2px;
        width: 100%;
        transform: rotate(90deg);
    }
}

.image-deco {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    span {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*--------------------------------------------------------------
5.0 header section
--------------------------------------------------------------*/

.header-site {
    clear: both;
    background-color: $col_fondo_gris;
    text-transform: uppercase;
    color: $col-blanco;
    background-color: $col_fondo_gris;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-wrapper-header {
    position: relative;
    height: 100vh;
    padding: 20px 40px;
    background-image: url(../../images/trama-fondo-footer.png);
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.main-nav {
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }
    
}

.nav-logo {
    background: url(../../images/logo-0.png) no-repeat;
    background-size: cover;
    width: 60px;
    height: 62px;    
    margin-left: -20px;
    @media (min-width: $sm) {
        margin-left: 0px;
        width: 80px;
        height: 85px;
    }
    
}

.toggle {
    display: none;
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
    }
}

.graph-menu {
    display: block;
    flex-direction: column;
    position: relative;
    height: 30px;
    width: 46px;
    padding: 4px;
    
    .graph-menu-1 {
        display: block;
        width: 38px;
        height: 1px;
        background-color: $col-destacado;
        position: absolute;
        top: 5px;
    }
    .graph-menu-2 {
        display: block;
        width: 38px;
        height: 1px;
        background-color: $col-destacado;
        position: absolute;
        top: 48%;
    }
    .graph-menu-3 {
        display: block;
        width: 38px;
        height: 1px;
        background-color: $col-destacado;
        position: absolute;
        bottom: 5px;
    }
}

.text-menu {
    text-transform: uppercase;
    font-family: $fuente-principal-bold;
    color: $col-gris;
    margin-left: 10px;
}

.header-title {
    @media (min-width: $md) {
        margin-top: -20px;
    }
    @media (min-width: $xlg) {
        margin-top: 0px;
        padding: 4vh 0 6vh;
    }
    .header-logo {
        img {
            display: block;
            width: 40%;
            margin: 0 auto;
            @media (min-width: $sm) {
                width: 40%;
            }
            @media (min-width: $md) {
                width: 179px;
            }
            @media (min-width: $xlg) {
                width: 239px;
            }
        }
        
    }
    
    h1 {
        font-family: $fuente-secundaria;
        margin: 4vh auto  3vh;
        text-align: center;
        font-size: 4.5vw;
        line-height: 4.5vh;
        letter-spacing: 3.2vw;
        padding-left: 4vw;
        font-weight: 700;
        @media (min-width: $md) {
            padding-left: 24px;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 25px;
            margin: 20px auto 10px;
        }
        @media (min-width: $xlg) {
            margin: 42px auto 35px;
        }
        
        img {
            width: 100%;
            max-width: 530px;
            @media (min-width: $sm) {
                width: 70%;
            }
            @media (min-width: $md) {
                width: 460px;
            }
            @media (min-width: $xlg) {
                width: 530px;
            }
        }
        /*strong {
            text-align: center;
            font-size: 17vw;
            line-height: 5vh;
            letter-spacing: 8vw;
            display: block;
            @media (min-width: $md) {
                font-size: 140px;
                line-height: 110px;
                letter-spacing: 50px;
            }
        }*/
    }
    
    .logo-2 {
        background: url(../../images/logo-2.png) no-repeat;
        background-size: cover;
        width: 37px;
        height: 38px;
        margin: 0 auto;
    }
}

.deco-mouse {
    @extend .image-deco;
    position: absolute;
    left: 0;
    bottom: 7vh;
    @media (min-width: $md) {
        bottom: 5vh;
    }
    
    span {
        background: url(../../images/mouse-outline.png) no-repeat;
        background-size: cover;
        width: 18px;
        height: 28px;
    }
}

.extra-nav {
    display: none;
    @media (min-width: $md) {
        display: block;
        font-family: $fuente-principal-light;
    }
    
    ul {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        transform: translate(112px, -113px) rotate(-90deg);
        position: absolute;
        right: 10px;
        bottom: 7vh;
        
        a {
            padding: 0 10px;
            
            &:after {
                content: '_';
            }
            
            &:hover {
                zoom: 1;
                filter: alpha(opacity=50);
                opacity: 0.5;
            }
        }  
    }
    
}

.berna-data-header {
    position: absolute;
    bottom: 5vh;
}

.header-line-deco {
    @extend .line-deco;
    position: absolute;
    height: 110px;
    bottom: -80px;
    left: 0;
    @media (min-width: $sm) {
        height: 150px;
        bottom: -110px;
    }
    
    @media (min-width: $md) {
        bottom: -120px;
    }
    
    span {
        background-color: $col_destacado;
    }
}



/*--------------------------------------------------------------
6.0 footer section
--------------------------------------------------------------*/

.footer-site {
    clear: both;
    background-color: $col_fondo_gris;
    text-transform: uppercase;
    color: $col-blanco;
    text-align: center;
}

.inner-wrapper-footer {
    position: relative;
    padding: 50px 20px 0;
    background: url(../../images/trama-fondo-footer.png);
    @media (min-width: $sm) {
        padding: 70px 20px 0;
    }
}

.footer-line-deco {
    @extend .line-deco;
}

.logo-4 {
    background: url(../../images/logo-4.png) no-repeat;
    background-size: cover;
    width: 57px;
    height: 59px;
    margin: 50px auto;
    @media (min-width: $sm) {
        width: 74px;
        height: 77px;
        margin: 100px auto;
    }
    @media (min-width: $md) {
        width: 74px;
        height: 77px;  
    }
}

.berna-data-footer {
    margin: 0 auto;
    p {
        margin: 10px 0;
        @media (min-width: $sm) {
            margin: 20px 0;
        }
    }
}

/*--------------------------------------------------------------
7.0 main section
--------------------------------------------------------------*/

.main-wrapper {
    position: relative;
}

.info-section {
    @media (min-width: $md) {
        background: url(../../images/berna-gigante.png) no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        z-index: 11;
    }
}

.main-info-wrapper {
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        padding: 0 10px;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
    @media (min-width: $xlg) {
        max-width: 1210px;
    }
}

.main-info {
    font-family: $fuente-secundaria;
    font-size: 4vw;
    line-height: 3vh;
    letter-spacing: 0.1vw;
    margin: 100px auto 50px;
    padding: 30px 40px;
    @media (min-width: $sm) {
        font-size: 3.5vw;
        padding: 30px 60px;
    }
    @media (min-width: $md) {
        width: 655px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        padding-right: 30px;
    }
    
    
    h2 {
        padding-bottom: 50px;
        position: relative;
        @media (min-width: $sm) {
            padding-bottom: 90px;
        }
        @media (min-width: $md) {
            padding-bottom: 50px;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: 45px;
        }
        
        &:after {
            content: '';
            position: absolute;
            bottom: 15px;
            left: 0;
            height: 4px;
            background-color: $col-destacado;
            width: 23vw;
            @media (min-width: $sm) {
                bottom: 30px;
            }
            @media (min-width: $md) {
                width: 120px;
                bottom: 5px;
            }
        }
        
        img {
            width: 60vw;
            @media (min-width: $sm) {
                width: 70vw;
                max-width: 370px;
            }
            @media (min-width: $md) {
                width: 370px;
            }
        }
    }
    
    p {
        margin: 30px auto;
    }
    
    a.btn-link {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 6vh;
        font-size: 9vw;
        margin: 6vh 0;
        padding: 5vh 0 0;
        @media (min-width: $md) {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 3px;
        }
        
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            height: 3px;
            background-color: $col-destacado;
            width: 20vw;
            @media (min-width: $sm) {
                height: 4px;
            }
            @media (min-width: $md) {
                width: 70px;
                height: 2px;
            }
        }
        
        &:after {
                content: '';
                position: absolute;
                height: 22px;
                background: url(../../images/arrow-deco.png) no-repeat;
                background-size: contain;
                width: 64px;
                bottom: .3vh;
                right: -95px;
                @media (min-width: $sm) {
                    width: 114px;
                    bottom: 2vh;
                    right: -140px;    
                }
                @media (min-width: $md) {
                    width: 65px;
                    bottom: 0;
                    right: -75px;
            }
        }
    }
}

.bottle-deco {
    @extend .image-deco;
    margin: 10vh auto 15vh;
    @media (min-width: $md) {
        width: 305px;
    }
    
    
    
    span {
        background-image: url(../../images/botella.png);
        height: 293px;
        width: 152px;
        @media (min-width: $sm) {
            height: 586px;
            width: 304px;
        }
    }
}

.mid-line-deco {
    @extend .line-deco;
    
    span {
        background-color: $col-destacado;
    }
}

.instagram-wrapper {
    padding: 0 40px;
    overflow: hidden;
    @media (min-width: $sm) {
        padding: 0 60px;
        position: relative;
        z-index: 11;
    }
    @media (min-width: $md) {
        padding: 0 10px;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
    @media (min-width: $xlg) {
        max-width: 1180px;
    }
    
    h2 {
        font-size: 140%;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin: 20vh 0 5vh;
        letter-spacing: 1vw;
        font-family: $fuente-principal-semibold;
        @media (min-width: $sm) {
            margin: 25vh 0 10vh;
        }
        @media (min-width: $md) {
            letter-spacing: 5px;
            font-size: 120%;
            margin: 200px 0 30px;
        }
        
        &:before {
            content: '';
            background: url(../../images/instagram.png);
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -60px;
            left: 43%;
            width: 43px;
            height: 43px;
            @media (min-width: $sm) {
                width: 86px;
                height: 87px;
                left: 43%;
                top: -120px;
            }
            @media (min-width: $md) {
                width: 66px;
                height: 67px;
                left: 46.5%;
                top: -100px;
            }
            
        }
    }
}

.instagram-feed-movil {
    position: relative;
    left: -36vw;
    width: 150vw;
    @media (min-width: $sm) {
        left: -444px;
        width: 200vw;
    }
}

.mid-line-deco-2 {
    @extend .mid-line-deco;
    margin: 15vh 0 5vh;
    @media (min-width: $md) {
        margin: 120px 0 0;
    }
}

.logo-3 {
    @extend .image-deco;
    width: 100%;
    height: 86px;
    margin: 10vh auto 10vh;
    position: relative;
    @media (min-width: $sm) {
        height: 172px;
    }
    @media (min-width: $md) {
        margin: 0 auto 0;
        height: 312px;
    }
    
    span {
        background: url(../../images/logo-3.png) no-repeat;
        background-size: cover;
        width: 84px;
        height: 86px;
        @media (min-width: $sm) {
            width: 169px;
            height: 172px;
        }
    }
}

.instagram-section {
    position: relative;
}

.background {
    display: none;
    @media (min-width: $md) {
        display: block;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .temp-fondo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        background: url(../../images/fondo-medio.jpg) no-repeat;
        background-size: cover;
        background-position: center bottom;
        @media (min-width: $xlg) {
            height: 125%;
            top: -190px;
        }
    }
}